{% extends "layout.html" %}

{% block content%}


    <h1>Welcome to my books review site</h1>
    <p>Register to see and review your favourite books</p>
    <div class="row">


    <div class="card m-2" style="width: 10rem;">
      <img src="../static/images/book1.jpeg" class="card-img-top" alt="...">
    </div>
    <div class="card m-2" style="width: 10rem;">
      <img src="../static/images/book2.png" class="card-img-top" alt="...">
    </div>
    <div class="card m-2" style="width: 10rem;">
      <img src="../static/images/book3.jpeg" class="card-img-top" alt="...">
    </div>
    <div class="card m-2" style="width: 10rem;">
      <img src="../static/images/book4.jpeg" class="card-img-top" alt="...">
    </div>
    <div class="card m-2" style="width: 10rem;">
      <img src="../static/images/book5.jpeg" class="card-img-top" alt="...">
    </div>
    <div class="card m-2" style="width: 10rem;">
      <img src="../static/images/book6.jpeg" class="card-img-top" alt="...">
    </div>
    <div class="card m-2" style="width: 10rem;">
      <img src="../static/images/book7.jpeg" class="card-img-top" alt="...">
    </div>
    <div class="card m-2" style="width: 10rem;">
      <img src="../static/images/book8.jpeg" class="card-img-top" alt="...">
    </div>
  </div>

  
{% endblock %}